body {
    background: #eee;
}

.content {
    background: #fff;
    padding: 15px 0;
    margin: 0 0 20px;
}

#map {
    width: 100%;
    height: 400px;
    margin: 0 0 20px;
}

#photos {
    display: inline-block;
    height: 400px;
    overflow-y: auto;
}